.chart{
    padding: 40px;
    background: #ff00f715;
    border-radius: 28px;
    width: 995px;
    height: 400px;
}
.chart__values{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 40px;
}
.bar{
    height: 5px;
    width: 18px;
    background: #000AFF;
    border-radius: 6px;
    animation: fill 5s 1 reverse;
    
}
@keyframes fill {
    0%   { height: 280px; }
    33%  { height: 100px;}
    66%  { height: 50px;}
    100% { 
        height: 5px; 
        animation-play-state: paused;
    }
  }