.card {
  display: flex;
  background: black;
  border-radius: 15px;
  overflow: hidden;
  transition: margin-top .6s;

  &__img > img {
    max-width: 220px;
  }

  &__info {
    padding: 20px;
  }
  &:hover{
    margin-top: -10px;
    cursor: pointer;
    transition: margin-top .4s;
  }
}
